* {
  padding: 0;
  margin: 0;
  color: white;
  font-family: "Open Sans", sans-serif;
}
header {
  position: sticky;
  top: 0;
  z-index: 1000000;
  background-color: rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12),
    0 16px 16px rgba(0, 0, 0, 0.12);
}
a {
  text-decoration: none;
  z-index: 2;
}
.nav {
  display: flex;
  justify-content: space-between;
}
ul {
  overflow: hidden;
  list-style-type: none;
}
li {
  text-decoration: none;
  float: left;
  height: 100%;
}
/* li a.active{} */
i {
  padding: 0 5px 0 0;
}
.logo {
  position: relative;
  display: inline-block;
  color: white;
  padding: 25px 50px;
  text-align: center;
  border-radius: 5px;
}
.list-item {
  /* background-color:blueviolet; */
  display: inline-block;
  color: white;
  margin: 25px 25px 0px 25px;
  text-align: center;
  border-radius: 5px;
  font-size: 18px;
}
.menu {
  position: relative;
  padding-right: 30px;
}
.underline {
  width: 120px;
  height: 2px;
  position: absolute;
  bottom: 3px;
  background-color: white;
  transition: all 1.25s ease;
}
.t1 {
  height: 100%;
  width: 120px;
  background-color: rgb(49, 161, 49);
  z-index: -1;
  border-radius: 10px;
  left: 10px;
}
.t2 {
  height: 100%;
  width: 120px;
  background-color: rgb(49, 161, 49);
  z-index: -1;
  border-radius: 10px;
  left: 130px;
}
.t3 {
  height: 100%;
  width: 120px;
  background-color: rgb(49, 161, 49);
  z-index: -1;
  border-radius: 10px;
  left: 265px;
}
.menu li:hover:nth-child(1):hover ~ .underline {
  background-color: white;
  opacity: 1;
  height: 2px;
  left: 10px;
}
.menu li:hover:nth-child(2):hover ~ .underline {
  background-color: white;
  opacity: 1;
  height: 2px;
  left: 130px;
}
.menu li:hover:nth-child(3):hover ~ .underline {
  background-color: white;
  opacity: 1;
  height: 2px;
  left: 265px;
}
.main {
  width: 100%;
  height: 3500px;
}
#home {
  background-image: url(https://i.pinimg.com/originals/4f/32/59/4f32597ca8d1b3fead14c996d99a7b1a.jpg);
  background-size: contain;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}
#about {
  color: white;
  display: flex;
  justify-content: center;
  gap: 10px;
}
#contact {
  color: pink;
}
.background {
  width: 400px;
  height: 221px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* opacity: 0; */
}
.background:nth-child(1) {
  background-image: url(https://wallpaperaccess.com/full/359168.jpg);
}
.background:nth-child(2) {
  background-image: url(https://wallpaperaccess.com/full/359168.jpg);
}
.background:nth-child(3) {
  background-image: url(https://wallpaperaccess.com/full/359168.jpg);
}
.fadeInleft {
  animation: fadeInleft 2.25s linear 1 forwards;
}
.fadeInright {
  animation: fadeInright 2.25s linear 1 forwards;
}
.fadeIntop {
  animation: fadeIntop 2.25s linear 1 forwards;
}
@keyframes fadeInleft {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeInright {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeIntop {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
