* {
    margin: 0;
    padding: 0;
    font-family: 'Dosis', sans-serif;
    font-size: large;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
   min-width: 1250px;
   height: 100%;
}
.tool {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.tool ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
}

.tool ul li {
    display: inline;
    padding: 10px 35px;
}

.tool ul li a {
    text-decoration: none;
    color: none;
}
.tool a img {
    width: 70px;
    height: 70px;
}

.under {
    position: absolute;
    height: 2px;
    width: 80px;
    left: 65px;
    background-color: red;
    transition: 0.5s;
}
#list{
    position: relative;
}
.choice {
    display: none;
    position: absolute;
    padding: 7.5px 0 ;
    left:0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
}
.choice a{
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 5px;
}
.choice a:hover{
    background-color: rgb(151, 144, 144);
}
#list:hover~.under {
    left: 200px;
}
#list:hover span:nth-child(2){
    rotate: 90deg;
}
#list:hover .choice{
    display: block;
}
#contact:hover~.under {
    left: 370px;
}